[submodule "www/www/BYU-xkcd-browser-CrayonProof"]
	path = www/www/BYU-xkcd-browser-CrayonProof
	url = https://github.com/BYUCS260/xkcd-browser-CrayonProof
[submodule "www/www/BYU-grocery-store-CrayonProof"]
	path = www/www/BYU-grocery-store-CrayonProof
	url = https://github.com/BYUCS260/grocery-store-CrayonProof
