
.navbar-brand {
    font-family: 'Monsieur La Doulaise', cursive;
   }

.title h1 {
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 900 !important;
    font-size: 3.2rem;
}

.content {
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 900 !important;
    font-size: 1.3rem;
}

.glass {
    box-shadow: 0 8px 32px 0 rgba(139, 139, 139, 0.37);
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}