* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

  body {
    background-image: url("../images/hills.jpg");
    background-color: #cccccc;
    font-family: 'Work Sans', sans-serif;
   }

   .page {
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

   .title {
        font-family: 'Monsieur La Doulaise', cursive;
        font-size: 5rem;
        margin: 5rem 0 4rem 0;
        color: rgb(42, 67, 121) !important;
   }

   .navbar-brand {
    font-family: 'Monsieur La Doulaise', cursive;
   }

   .option {
       font-size: 3rem;
        padding: 1rem;
        font-family: 'Work Sans', sans-serif;
    }

    .option a:link {
        text-decoration: none;
        color: rgb(42, 67, 121) !important;
    }

    .option a:hover {
        text-decoration: none !important;
        color: rgb(113, 158, 255) !important;
    }

    .option a:visited {
        text-decoration: none;
        color: rgb(42, 67, 121) !important;
    }
    .option a:visited:hover {
        text-decoration: none !important;
        color: rgb(113, 158, 255) !important;
    }

/* Mobile Styles */
@media only screen and (max-width: 470px) {
    
    .title {
        margin: 2rem 0 1rem 0;
        font-size: 2.5rem;
    }

  }

  /* Tablet Styles */
  @media only screen and (min-width: 471px) and (max-width: 960px) {
   
    .title {
        margin: 5rem 0 4rem 0;
        font-size: 3rem;
    }

  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    
    .title {
        font-size: 4rem;
    }

    .options {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .option {
        font-size: 3rem;
         padding: 1rem 4rem;
     }

     .shop {
         margin-right: 4rem
     }

  }