* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

  .navbar-brand {
    font-family: 'Monsieur La Doulaise', cursive;
   }

  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .photo-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .photo-grid img {
    object-fit: cover;
    width:450px;
    height:260px;
    border-radius: 1rem;
    margin: 0.5rem;
  }

  /* Desktop Styles */
  @media only screen and (min-width: 1500px) {
    
    .photo-grid {
        width: 1400px;
    }

  }

  /* Mobile Styles */
  @media only screen and (max-width: 470px) {
    
    .photo-grid img {
        object-fit: cover;
        width:340px;
        height:190px;
        border-radius: 1rem;
        margin: 0.2rem;
      }

}

/* Tablet Styles */
@media only screen and (min-width: 471px) and (max-width: 960px) {

    .photo-grid img {
        object-fit: cover;
        width:380px;
        height:210px;
        border-radius: 1rem;
        margin: 0.3rem;
      }

}