* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

  .navbar-brand {
    font-family: 'Monsieur La Doulaise', cursive;
   }

  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    flex-grow: 1;
    padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
        min-height:100vh;
        margin-bottom: -50px;
  }

  .photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .photos img {
    object-fit: cover;
    width:900px;
    height:600px;
    border-radius: 1rem;
    margin: 0.5rem;
    border-color: black;
    border-width: .5px;
    border: solid;
  }

  .image-info {
    z-index: 100;
    position: absolute;
    font-size: 3rem;
    margin: 3rem;
  }

  .footer {
    flex-shrink: 0;
    border: transparent;
    background-color: #10141f;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-item {
    opacity: .75;
}

  /* Mobile Styles */
  @media only screen and (max-width: 470px) {
    
    .photos img {
      object-fit: cover;
      width:300px;
      height:100;
      border-radius: 1rem;
      margin: 0.5rem;
      border-color: black;
      border-width: .5px;
      border: solid;
    }

    .image-info {
      z-index: 100;
      position: absolute;
      font-size: 1.5rem;
      margin: 1.5rem;
    }

}

/* Tablet Styles */
@media only screen and (min-width: 471px) and (max-width: 960px) {

  .photos img {
    object-fit: cover;
    width:600px;
    height:400px;
    border-radius: 1rem;
    margin: 0.5rem;
    border-color: black;
    border-width: .5px;
    border: solid;
  }

  .image-info {
    z-index: 100;
    position: absolute;
    font-size: 2.3rem;
    margin: 2rem;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 960px) {

  .photos img {
    object-fit: cover;
    width:900px;
    height:600px;
    border-radius: 1rem;
    margin: 0.5rem;
    border-color: black;
    border-width: .5px;
    border: solid;
  }

}