.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page-header,
.page-footer {
    flex-shrink: 0;
    border: solid;
    border-color: rgb(43, 255, 0);
}

.page-body {
    height: 100%;
    flex-grow: 1;
    border: solid;
    border-color: rgb(255, 0, 0);
    height:100vh;
}
